
<!DOCTYPE html>
<html>
<head>
    <title>Bine ai venit la Planifiqator: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
</head>
<body style="background-color:azure">
    <header class="container">
        <nav class="navbar navbar-dark bg-secondary navbar-expand-md d-lg-flex align-items-center">
            <h1 class="navbar-brand">Planifiqator</h1>
            <div id="menu" class="navbar-collapse">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Despre">Despre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Notite">Notite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="CautaDestinatii">Cauta Destinatii</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container"><div class="text-center">© Planifiqator 2021</div></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>