@{
    ViewBag.Title = "Conectează-te";
}

<div class="loginForm text-center card card-body bg-light" >
    <form>
        <div>
            <label>Nume utilizator</label>
            <br />
            <input />
        </div>
        <div>
            <label>Parola</label>
            <br />
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Ține-mă minte?</label>
        </div>
        <div>
            <input type="submit" value="Conectează-te" class="btn btn-success" />
        </div>
    </form>
</div>
