@{
    ViewBag.Title = "Ia notite";
}
<div id="registerForm" class="text-center">
    <div class="col-md-12">
        <div class="card card-body bg-light">
            <form method="post">
                <label>Titlu: </label>
                <input />
                <br />
                <textarea id="notitaUtilizator" name="Notita Utilizator" rows="10" cols="70">Scrie ceva aici</textarea>
                <br />
                <input type="submit" class="btn btn-success" value="Adaugă notiță" />
                <input type="submit" class="btn btn-success" value="Vezi notițele mele" />
            </form>
        </div>
    </div>
</div>