<!DOCTYPE html>
<html>
<head>
  <title>Bine ai venit la Planifiqator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap-grid.css" />
</head>
<body style="background-color:white">
  <header class="container">
    <nav class="navbar nav-tabs navbar-light bg-white navbar-expand-md d-lg-flex justify-content-center">
      <div id="menu" class="navbar-collapse">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <img src="../assets/img/planifiqator.PNG" width="100" height="40" />
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/despre"><div id="navtext">Despre</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="registerForm" class="text-center">
    <div class="col-md-12">
      <div class="card card-body bg-light ">
        <form method="post">
          <div class="navtext"><label for="Nume">Nume utilizator </label></div>
          <input [(ngModel)]="Nume" name="nume" id="Nume" />
          <br />
          <br />
          <div class="navtext"><label for="Parola">Parola </label></div>
          <input [(ngModel)]="Parola" type="password" name="parola" id="Parola" />
          <br />
          <br />
          <div class="navtext"><label for="Email">Email </label></div>
          <div class="navtext"><input [(ngModel)]="Email" type="email" name="email" id="Email" /></div>
          <br />
          <br />
          <input routerLink="{{toLoginInitializer}}" name="register" (click)="register()" type="submit" class="btn btn-success" value="Înregistrează-te" />
        </form>
      </div>
    </div>
  </div>
  <footer style="margin-top:30px" class="container"><div class="text-center">© Planifiqator 2021</div></footer>
  <div class="text-center"><a href="https://github.com/SboiuAntonio/Planifiqator" class="button">Github</a></div>
  <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
</body>
</html>

